# Build artifacts
grub-dist/
*.iso
*.sparseimage

# Linux kernel build
linux/
grub/

# Limine git clone (zu groß / nicht nötig)
/limine/

# Alpine Linux Kernel & Initramfs
iso_root/boot/vmlinuz
iso_root/boot/initramfs
iso_root/boot/modloop

# Alte ISO-Verzeichnisse
iso/
boot.iso

# Logs
*.log
